{% extends 'base.html' %}

{% block main %}
    <div class="Main">
        <div class="Table">
            <table>
                <th>
                    <h3>Links</h3>
                </th>
                <tr>
                    <td><a href="jainamulyawin@gmail.com">Gmail</a></td>
                </tr>
                <tr>
                    <td><a href="Amulya.122439@stu.upes.ac.in">Outlook</a></td>
                </tr>
                <tr>
                    <td><a href="https://github.com/AmulyaJain2004">GitHub</a></td>
                </tr>
                <tr>
                    <td><a href="">LinkedIn</a></td>
                </tr>
                <tr>
                    <td><a href="">Instagram</a></td>
                </tr>
                <tr>
                    <td><a href="">YouTube</a></td>
                </tr>
            </table>
        </div>
        <div>
            <h3>Feedback</h3>
            <form method="post" class="signup">
                <div>
                    <label for="">Comment</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Last name</label>
                    <input type="text">
                </div> 
                <div>
                    <button type="submit">Submit</button>
                </div>
                <input type="text" name="output">
            </form>
        </div>
    </div>
{% endblock %}