{% extends 'base.html' %}

{% block main %}
    <div class="Main">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus placeat, eligendi corporis quia 
        doloremque dignissimos minus quam nostrum sint, reprehenderit aliquid, unde magni. Perferendis tempore 
        dignissimos sequi officiis, aspernatur, maiores, dolor beatae voluptatem qui corrupti animi dolorum cumque 
        possimus modi nihil quo assumenda minus! Totam iure at modi neque animi, placeat dolore, laborum dicta 
        accusantium ea repellat adipisci ex atque delectus cum eum vitae tenetur ratione odit facere nisi sunt 
        a! Numquam iste dolore assumenda blanditiis illum voluptates ipsam dolores distinctio expedita, officiis 
        vitae excepturi accusamus amet vel quasi veritatis sed error adipisci alias aspernatur! Itaque aliquam 
        labore laudantium voluptate</p>
    </div>
{% endblock %}